#loginWrapper{
    width: var(--main--page-width);
}

.loginInputs{
    box-shadow: var(--shadow-light);
    padding: var(--main-margin) 70px var(--main-margin) 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.loginInputs p{
    text-align: center;
}

.loginInputs button{
    margin-top: 30px;
}

.loginInputs input{
    width: 100%;
}

/* On screens that are 732 or less */
@media screen 
    and (max-width: 732px) 
    and (min-width: 300px) 
{ 
    #loginWrapper{
        width: 150vw;
    }
    .emailInput, .passInput{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}