#loginWrapper{
    
}

.loginInputs{
    box-shadow: var(--shadow-light);
    padding: var(--main-margin) 100px var(--main-margin) 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginInputs p{
    text-align: center;
}

.loginInputs button{
    margin-top: 30px;
}