#loginWrapper{
    width: var(--main--page-width);
}

.loginInputs{
    box-shadow: var(--shadow-light);
    padding: var(--main-margin) 70px var(--main-margin) 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.loginInputs p{
    text-align: center;
}

.loginInputs button{
    margin-top: 30px;
}

.loginInputs input{
    width: 100%;
}