#omOssWrapper{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: var(--main--page-width)
}
#omOssWrapper > p{
    text-align: center;
}

/*PERSONER*/
#personListWrapper{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top: var(--main-margin);

}
.person{
    width: 20vw;
}
.person h3{text-align: center;}
.person img{
    width:100%;
    background-position: center;
    background-size: cover;
    border-radius: 150px;
    box-sizing: border-box;
    border: 0px solid white;
    transition: border .2s ease 0.1s;
}

.person img:hover{
    border: 8px solid var(--accent-green);
}

