#projektWrapper{
    width: var(--main--page-width);
}
#projektWrapper img{
    width: 100%;
}

/*EN ARTIKEL*/
#projektArtWrapper{
    width: var(--main--page-width);
}
#projektArtWrapper img{
    width: 100%;
}