#SkapaWrapper h1{
    text-align: center;
    margin-top: 15vh;
}

.formContainer{
    display:flex;
    flex-direction: column;
    padding: var(--main-margin);
    box-shadow: var(--shadow-light);
    border-radius: var(--main-border-radius);
    align-items: center;
}

.formTop{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.dates{
    display:flex;
    flex-direction: row;
}
.dates input{
    width: 20%;
}

textarea{
    height: 60%;
}
.middleSpace{
    width: 20%;
}

.projectInit, .projectGadgets{
    display:flex;
    flex-direction: column;
    width:40%;
}

.formDivider{
    height:2px;
    background-color: var(--accent-purple);
    width:100%;
    margin: var(--main-margin) 0px 20px 0px;
    border-radius:5px;
}

.formBottom{
    display:flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    position:relative;
}

/*PREVIEW*/

#PreviewWrapper{
    position: absolute;
    width: 100vw;
    height: 200%;
    background-color: rgba(172, 172, 172, 0.28);
    backdrop-filter: blur(5px);
    display:flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
}

#ArtWrapper{
    margin-top: 25vh;
    width: var(--main--page-width);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

#ArtWrapper img{
    width: 50%;
}