/*denna fil har regler som förekommer på alla sidor av appen.*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ruwudu&display=swap');
/*fina fonter värda att ta en titt på:
Quicksand, Lora, 

/*CUSTOM VARIABLES*/
:root{
    /*COLORS*/
    --main-purple: #6F6FB3;
    --main-beige: #FFE1D1;
    --accent-purple: #B7B7FF;
    --main-green: #B5FF9E;
    --accent-green: #77B664;
    --main-white: white;

    --white: white;

    /*FONTS*/
    --main-title-text: 'Montserrat';
    --main-body-text: 'Ruwudu';

    /*SIZES*/
    --main--page-width: 70vw;
    --main-margin: 50px;
    --main-border-radius: 20px;
    --main-border-radius-s: 5px;

    /*MISC*/
    --shadow-light: 1px 3px 5px rgba(0,0,0,0.1);
    --shadow-dark: 7px 10px 10px rgba(0,0,0,0.1);
}

.App{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

body{
    margin: 0px;
    height:100vh;
    overflow-x:hidden;
}

main{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


main > div{
    margin-top:25vh;
    display:flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*FOOTER*/

footer{
    margin-top: 25vh;
    height: 30vh;
    width: 100vw;
    background-color: var(--main-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    bottom: 0;
    z-index: 100;
    overflow:hidden;
}
.footerInfo{
    width: 40vw;
    margin-left: 2vw;
}
.footerLinks{
    margin-right: 15vw;
    
}
.footerLinks a{
    color: var(--main-beige);
}


a{text-decoration: none; cursor:pointer;}
button{cursor:pointer;}

/*FORM*/
/*INPUT*/
input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select, textarea {

    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

input, textarea{
    margin-bottom: 20px;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: var(--accent-purple);
    }

/*SELECT*/
select:focus,
select:active {
    outline: 0;
}
select option {
    background-color: var(--accent-purple);
    color: #fff;
}

p{font-family: var(--main-body-text);}

nav, h1,h2,h3,h4,h5,h6{
    font-family: var(--main-title-text);
    font-weight: 700;
}

/*NAVBAR*/
nav{
    height: 12vh;
    background-color: var(--main-purple);

    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;

    box-shadow: var(--shadow);
    transition: all 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99; 
}
.scrollisfalse{
    padding: 3vh 20px; /* Large padding which will shrink on scroll (using JS) */
}
.scrollistrue{
    padding: 0vh 20px;
}
.scrollistrue a{font-size: medium;}
.scrollistrue h1{font-size: x-large;}
.scrollisfalse h1{font-size: xx-large;}
.scrollisfalse a{font-size: x-large;}
nav h1{
    font-weight:800; 
}
nav > div{
    display:flex;
    width: 40%;
    justify-content: space-around;
}
nav > div a{
    color: var(--main-beige);
    position: relative;
    padding-bottom: 5px;
    font-size: larger;
}

/*NOT FOUND*/

.notFound{
    margin-top: 20vh;
}
