/*denna fil har regler som förekommer på alla sidor av appen.*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*CUSTOM VARIABLES*/
:root{
    /*COLORS*/
    --main-purple: #6F6FB3;
    --main-beige: #FFE1D1;
    --accent-purple: #B7B7FF;
    --main-green: #B5FF9E;
    --accent-green: #77B664;

    --white: white;

    /*FONTS*/
    --main-font-title: 'Montserrat';

    /*MISC*/
    --shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

body{
    margin: 0px;
}
a{text-decoration: none;}

nav, h1,h2,h3,h4,h5,h6{
    font-family: var(--main-font-title);
    font-weight: 700;
}

/*NAVBAR*/
nav{
    height: 12vh;
    background-color: var(--main-purple);

    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;

    box-shadow: var(--shadow);
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99; 
}
.scrollisfalse{
    padding: 5vh 20px; /* Large padding which will shrink on scroll (using JS) */
}
.scrollistrue{
    padding: 0vh 20px;
}
nav h1{
    font-weight:800; 
}
nav > div{
    display:flex;
    width: 40%;
    justify-content: space-around;
}
nav > div a{
    color: var(--main-beige);
    position: relative;
    padding-bottom: 5px;
    font-size: larger;
}
